ml/images/bird/*{jpg,jpeg,png,gif,bmp,tiff,svg} filter=lfs diff=lfs merge=lfs -text
ml/images/forest/*{jpg,jpeg,png,gif,bmp,tiff,svg} filter=lfs diff=lfs merge=lfs -text
ml/images/bird/*.{jpg filter=lfs diff=lfs merge=lfs -text
jpeg filter=lfs diff=lfs merge=lfs -text
png filter=lfs diff=lfs merge=lfs -text
gif filter=lfs diff=lfs merge=lfs -text
bmp filter=lfs diff=lfs merge=lfs -text
tiff filter=lfs diff=lfs merge=lfs -text
svg} filter=lfs diff=lfs merge=lfs -text
